<nav id="main_nav">
    <a href="/" class="link">home</a>
    <a href="/about" class="link">about</a>
    <a href="/photo_gallery" class="link">photo-gallery</a>
    <a href="/contact" class="link">contact</a>
</nav>
