<div id="main_div">
    <h2>my favorite dog breeds:</h2>
    <p>I like dogs since I am a little girl. I was from the beginning fascinated of these 
        great creatures. I like on dogs they are living in the moment and they never forget
        but they change with you together. They are not upset or angry of each other. The 
        take every day as a new day. 
    </p>
</div>