 <div id="main_div">
   <h2>contact us:</h2>
    <form action="action_page.php" method="POST">  {{!--  post for sensitive data; or get (visible in the url) --}}

    <label class="form_lable" for="fname">First Name:</label>
    <input class="form_input" type="text" id="fname" name="firstname" placeholder="Your name is?">

    <label class="form_lable"for="lname">Last Name:</label>
    <input class="form_input" type="text" id="lname" name="lastname" placeholder="Your last name is? ">

    <label class="form_lable"for="email">Email Adress:</label>
    <input class="form_input" type="email" id="email" name="firstname" placeholder="Your name is?">

    <label class="form_lable"for="phone">Phone Number:</label>
    <input class="form_input" type="number" id="phone" name="lastname" placeholder="Your last name is? ">

    <label class="form_lable"for="subject"> Subject</label>
    <textarea id="subject" name="subject" placeholder="Enter your message here please."></textarea>

    <input id="btn" type="submit" value="Submit">

  </form>
</div> 