<div id="main_div">
    <h2>my favorite dog breeds:</h2>
    <p>This website is showing you my favorite dog breeds. <br/>
    In the photo gallery you can find pictures of my favorite dog breeds.</p>

    <ol id="main_list">
        <li class="list"> Rottweiler</li>
        <li class="list">Ratonero Bodeguero Andaluz</li>
        <li class="list">American Staffordshire Terrier</li>
        <li class="list">Beagle</li>
        <li class="list">Golden Retriever</li>
        <li class="list">Australian Cattle Dog</li>
        <li class="list">St. Bernard</li>
        <li class="list">Pyrenees Mountain Dog</li>
        <li class="list">Malinois</li>
        <li class="list">Dogo Argentino</li>
    </ol>
</div>