* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
body {
    background-color: aliceblue;
    font-family: 'Special Elite', cursive;
    margin-bottom: 100px;
}
a {
    color: inherit;
    text-decoration: none;
}
/* li {
    list-style-type: none;
} */

form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
form label:first-of-type {
    padding: 0;
}


/* --- id's ---*/
#main_nav {
    align-items: center;
    background-color: bisque;
    display: flex;
    height: 40px;
    width: 100%;
}
#main_nav a:first-of-type {
    margin-left: 50px;
}

#main_container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#main_div {
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 30px 70px;
    max-width: 90%;
}

 #main_list {
     line-height: 1.5;
     padding: 20px 0 0 30px;
}

#main_div h2 {
    padding-bottom: 10px;
}

#main_container h2 {
    display: flex;
    justify-content: center;
    width: 100%;
}
#container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 2%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 10px auto;
    width:80%;
}
#img {
    height: auto;
    max-width: 180px;
}

#photo_div {
    border: 1px solid;
    border-radius: 5px;
    height: 1320px;
    padding: 30px 70px;
    max-width: 90%;
}
#photo_div h2 {
    padding-bottom: 10px;
}
#subject {
    border-radius: 5px;
    height: 100px;
    margin: 10px 0;
    padding: 5px 10px;
    width: 650px;
    font-family: 'Special Elite', cursive;
}
#btn {
    background-color: darkgrey;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    font-family: 'Special Elite', cursive;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
}


/* --- classes --- */
.link {
    padding-left: 20px;
}

.form_lable {
    padding-top: 15px;
    font-family: 'Special Elite', cursive;
}
.form_input {
    padding: 5px 10px;
    width: 350px;
    border-radius: 8px;
    font-family: 'Special Elite', cursive;
}




/* in the CSS: .movie-container{
    padding-top:50px;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 2%;
    width:80%;
    margin: 0 auto;
    } */